<a href="https://colab.research.google.com/github/CY0218/EN.705.603.82.SP23/blob/main/Used_Car_DataTransformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!unzip "/content/archive (1).zip"

Archive:  /content/archive (1).zip
  inflating: cars.csv

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/cars.csv')

In [ ]:
data

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,Chrysler,300,automatic,silver,290000,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,diesel,False,diesel,2.2,...,True,False,False,True,True,False,False,True,True,317
38528,Chrysler,300,automatic,blue,777957,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,False,False,True,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,gasoline,False,gasoline,2.4,...,False,False,False,False,False,False,False,False,True,632

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

In [ ]:
cols_to_encode = data.select_dtypes('object').columns

In [ ]:
print(cols_to_encode)

Index(['manufacturer_name', 'model_name', 'transmission', 'color',
       'engine_fuel', 'engine_type', 'body_type', 'state', 'drivetrain',
       'location_region'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
oe = OrdinalEncoder()

data[cols_to_encode] = oe.fit_transform(data[cols_to_encode])

In [ ]:
data

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,45.0,764.0,0.0,8.0,190000,2010,3.0,False,2.0,2.5,...,True,True,True,False,True,False,True,True,True,16
1,45.0,764.0,0.0,1.0,290000,2002,3.0,False,2.0,3.0,...,True,False,False,True,True,False,False,False,True,83
2,45.0,519.0,0.0,7.0,402000,2001,3.0,False,2.0,2.5,...,True,False,False,False,False,False,False,True,True,151
3,45.0,609.0,1.0,1.0,10000,1999,3.0,False,2.0,3.0,...,False,False,False,False,False,False,False,False,False,86
4,45.0,665.0,0.0,0.0,280000,2001,3.0,False,2.0,2.5,...,True,False,True,True,False,False,False,False,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,8.0,86.0,0.0,8.0,290000,2000,3.0,False,2.0,3.5,...,True,False,False,True,True,False,False,True,True,301
38527,8.0,766.0,1.0,1.0,321000,2004,0.0,False,0.0,2.2,...,True,False,False,True,True,False,False,True,True,317
38528,8.0,86.0,0.0,1.0,777957,2000,3.0,False,2.0,3.5,...,True,False,False,True,True,False,False,True,True,369
38529,8.0,766.0,1.0,0.0,20000,2001,3.0,False,2.0,2.0,...,True,False,False,False,False,False,False,False,True,490
38530,8.0,1058.0,0.0,8.0,297729,2000,3.0,False,2.0,2.4,...,False,False,False,False,False,False,False,False,True,632

In [ ]:
data['transmission'].value_counts()

1.0    25633
0.0    12898
Name: transmission, dtype: int64

In [ ]:
data['model_name'].value_counts()

778.0    1423
258.0     751
569.0     707
228.0     687
734.0     637
         ...
300.0       1
243.0       1
608.0       1
124.0       1
257.0       1
Name: model_name, Length: 1118, dtype: int64